body{background-image: url(/img/coffee-bg.jfif);
  background-size: cover; 
  background-repeat: no-repeat;
  font-family: sans-serif;
  padding: 20px;
  
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color:rgba(222,184,135,0.9);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}


img {
  margin-top:-25;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
  letter-spacing: 2px;
  font-weight:300;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}

/* .li-logo, .gt-logo, .ml-logo{
    height: 24px;
    display: inline;
    margin-left: 4px;
}

.gt-logo{
    height: 25px;
    padding-top:5px;
    margin-left:10%;
    margin-right: 10%;
} */

.li-logo, .gt-logo, .ml-logo {
    height: 24px;
    display: inline;
    margin-left: 4px;
 /* Adds a smooth transition effect */
 transition: 0.3s linear;
}

.gt-logo {
    height: 25px;
    padding-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

/* Apply the hover effect */
.li-logo:hover, .gt-logo:hover, .ml-logo:hover {
    transform: scale(1.4); /* Increase the size on hover */
}

.Note{
    
    margin-top:30px;
    padding:0;
}